
body{
    background-color: #F5F5FA;
}
footer{
    box-shadow: rgba(50, 50, 93, 0.25) -2px -4px 12px -2px, rgb(223 61 61 / 30%) 0px 3px 7px -3px;
}
.login{
    background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-simple-and-stylish-reading-time-picture-image_1082922.jpg');
    background-size: cover;
}
.swiper-button-prev-custom, .swiper-button-next-custom {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.swiper-button-prev-custom {
    left: 410px;
    margin-top: 65px;
}

.swiper-button-next-custom {
    right: 33px;
    margin-top: 65px;
}

.swiper-pagination-bullet {
    width: auto;
    padding: 0 9px;
    font-size: 25px;
    color: #ffffff;
    background: none !important;
    border-radius: 0 !important; 
}
.haeder{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}
/* custom-carousel.css */
.custom-carousel .ant-carousel .slick-slide {
    padding: 5px 10px; /* Điều chỉnh khoảng cách giữa các sản phẩm */
  }
  
  .custom-carousel .ant-carousel .slick-slide img {
    width: 50%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của slide */
    height: 90px; /* Điều chỉnh chiều cao của hình ảnh */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
  }
  
  /* Style cho các nút điều hướng */
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px; /* Đặt chiều rộng cho nút điều hướng */
    height: 40px; /* Đặt chiều cao cho nút điều hướng */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ant-carousel .slick-prev:before,
  .ant-carousel .slick-next:before {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px; 
  }
  

